* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clear{
    clear: both;
}
/* dung chung */
.text-white{
    color: #ccc !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;

}
.col-third{
    width: CALC(100%/3);
}
.col-half{
    width: 50%;
}
/* dung chung */

html{
    font-family: Arial, Helvetica, sans-serif;
}
#main{

}

#header{
    background-color: #000;
    height: 46.5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#nav{
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;

}
#nav .subnav >li{width: 100%;
}
#nav li{
    display: inline-block;
    position: relative;
    
}

#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

/* a laf con trực tiếp cảu li, li là con tt của #nav */
#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}
/* css tất cả thẻ a là con của thẻ li, li là con của id nav*/
#nav li a{
    text-decoration: none;
    line-height: 46.5px;
    padding: 0 24px;
    display: block;
    font-size: 15px;
}
#nav li:hover .subnav{
    display: block;
}
#nav > li:hover > a,#nav .subnav li:hover{
    color: #000;
    background-color: #ccc;
}
#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38.5px;
}

#nav .fa-solid{
    font-size: 15px;
}
#header .fa-solida{
    float: right;
    line-height: 46.5px;
}
#header .fa-solida{
    color: #fff;
    font-size: 15px;
    padding:0 23.47px ;
    cursor: pointer;
}
#header .fa-solida:hover{
    background-color: #f44336;

}
#slider{
    position: relative;
    margin-top: 46.5px;
    padding-top: 50%;
    background: url('/assets/img/slider/chicago.jpg') top center / cover no-repeat;

}
#slider .text-content{
    position: absolute;
    color:#fff;
    width:100%;
    bottom: 47px;
    text-align: center;
}
#slider .text-heading{
    font-weight: 450px;
    font-size: 24px;
    
}
#slider .text-description{
    font-size: 15px;
    margin-top: 25px;



}

#content{
 
}

#content .content-section{
    max-width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}
#content .section-heading{
    font-size: 30px;
    text-align: center;
    font-weight: 450px;
    /* khoang cach giua cac chu */
    letter-spacing: 4px;

}

#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    /* chu nghieng */
    font-style: italic;
    /* do trong suot */
    opacity: 0.6;
}
#content .about-text{
    font-size:15px;
    margin-top: 25px;
    /* can deu 2 ben */
    text-align: justify;
    /* do cao cua hang */
    line-height: 1.4;
}
#content .member-list{
    margin-top: 47px;
    
}
#content .member-item{
    
    text-align: center;
    overflow: hidden;
    
}
#content .member-name{
    font-size: 15px;
    
}
#content .member-img{
    width: 153.9px;
    margin-top: 15px;
    /* tao goc bo tron anh */
    border-radius: 4px;
}
.tour-section{
    background-color: #000;
}
.tickets-list{
    background-color: #fff;
    margin-top:40px ;
    list-style-type: none;
}
.tickets-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    
}

.tickets-list .sold-out{
    background-color: #f44336;
    color:#fff;
    padding:3px 4px;
    margin-left: 16px;
}
.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}
    /* places */
.places-list{
    margin-top: 32px;
    margin-bottom: 48px;
}

.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}

.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;

}

.place-heading{
    font-size: 15px;
    font-weight: 550px;

}

.place-time{
margin-top: 15px;
color: #757575;
}

.place-desc{
margin-top: 15px;
line-height: 1.4;

}

.place-buy-btn{
    background-color: black;
    color: #fff;
    text-decoration: none; 
    padding: 10.5px 18px;
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;
    border: none;
}
.place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
}
.modal{
    position: fixed;
    top: 0; 
    right: 0;
    padding-left: 16px;
    bottom:0 ;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    display: none;  
}
/* .modal.open không có khoảng cách  */
.modal.open{
    display:flex;
}
.modal-header{
    color: #fff;
    height: 130px;
    background-color:#009688 ;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 4px;
    font-size: 30px;

}
.modal-container{
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}
    
.modal-header-icon{
    margin-right: 16px;
}
.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    color: #fff;
}
.modal-close:hover{
    cursor: pointer;
    opacity: 0.5;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;

}   
.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    margin-bottom: 24px;
}
#buy-tickets{
    background: #009688;    
    color: #fff;
    font-size: 15px;
    border: none;
    width: 100%;
    padding: 12px;
    text-transform: uppercase;
}
.modal-body{
    padding: 16px;
}
#buy-tickets:hover{
    opacity: 0.9;
}
.modal-footer{
    padding: 16px;
    text-align: right;
}
.modal-footer a{
color: #2196F3
}
#footer{
    

}
@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
